@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

* {
  box-sizing: border-box;
}

:root {
  font-size: 30px;
}

body {
  font-family: Comfortaa, serif;
  color: #F7F6F2;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #C76559;
}

.wiki-crawler {
  position: relative;
  margin: auto;
  width: 800px;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.wiki-crawler__search-controls {
  margin-top: 25%;
  margin-bottom: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  transition: opacity 1s, visibility 1s;
  z-index: 99;
}

.wiki-crawler__search-controls--hidden {
  opacity: 0;
  visibility: hidden;
}

.wiki-crawler__tip {
  font-size: 1rem;
}

.wiki-crawler__search-bar {
  position: relative;
  bottom: 10px;
  background: #F7F6F2;
  border-color: #9DA5A9;
  border-width: 3px;
  height: 30px;
  transition: opacity 1s, visibility 1s;
}

.wiki-crawler__search-bar--hidden {
  opacity: 0;
  visibility: hidden;
}

.wiki-crawler__btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.wiki-crawler__btn:hover [coloredPath] {
  fill: #F7F6F2;
}

.wiki-crawler__btn:active [coloredPath] {
  fill: #F7F6F2;
}

.wiki-crawler__btns {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.wiki-crawler__enter-btn {
  position: absolute;
  top: -20%;
  transition: opacity 1s, visibility 1s;
}

.wiki-crawler__enter-btn--hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(4);
  transition: opacity 1s, visibility 1s, transform 1s;
}

.wiki-crawler__search-btns {
  transition: opacity 1s, visibility 1s;
}

.wiki-crawler__search-btns--hidden {
  opacity: 0;
  visibility: hidden;
}

.wiki-crawler__results {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  height: 600px;
  width: 100%;
}

.wiki-crawler__results-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 30px;
  width: 100%;
  cursor: pointer;
}

.wiki-crawler__result {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  border: 3px solid #9DA5A9;
  border-radius: 20px;
  text-align: center;
  font-size: 0.5rem;
  height: 100px;
  min-width: 240px;
  user-select: none;
  transition: opacity 3s ease-out, visibility 3s ease-out;
}

.wiki-crawler__result--hidden {
  opacity: 0;
  visibility: hidden;
}

.wiki-crawler__result:hover {
  background: #F7F6F2;
  color: #393C40;
}

.wiki-crawler__result:active {
  background: #F7F6F2;
  color: #393C40;
  font-size: .3rem;
  border-width: 10px;
  border-style: inset;
}

.wiki-crawler__search-in-progress-icon {
  position: absolute;
  top: 25%;
  visibility: hidden;
}

.wiki-crawler__search-in-progress-icon--spin-and-fade-out {
  animation-name: spin-fade-out;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.wiki-crawler__return-btn {
  margin-top: auto;
  transition: opacity 1s, visibility 1s;
}

.wiki-crawler__return-btn--hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes spin-fade-out {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }

  99% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: visible;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (max-width: 820px) {
  :root {
    font-size: 24px;
  }

  .wiki-crawler {
    width: 100%;
    min-width: 375px;
  }
}

@media screen and (max-width: 480px) {
  .wiki-crawler__results {
    height: 100%;
  }
}
