@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

* {
  box-sizing: border-box;
}

body {
  font-family: Comfortaa, serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.wiki-crawler {
  position: relative;
  top: 25%;
  margin: auto;
  width: 600px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.wiki-crawler__search-controls {
  transition: opacity 1s, visibility 1s;
}

.wiki-crawler__search-controls--hidden {
  opacity: 0;
  visibility: hidden;
}

.wiki-crawler__btns {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.wiki-crawler__enter-btn {
  position: absolute;
  transition: opacity 1s, visibility 1s;
}

.wiki-crawler__enter-btn--hidden {
  opacity: 0;
  visibility: hidden;
}

.wiki-crawler__search-btns {
  transition: opacity 1s, visibility 1s;
}

.wiki-crawler__search-btns--hidden {
  opacity: 0;
  visibility: hidden;
}

.wiki-crawler__btns button {
  background: transparent;
  border: none;
  outline: none;
}

.wiki-crawler__results {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.wiki-crawler__search-in-progress-icon {
  position: absolute;
  visibility: hidden;
}

.wiki-crawler__search-in-progress-icon--spin-and-fade-out {
  animation-name: spin-fade-out;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.wiki-crawler__results button {
  background: transparent;
  border: none;
  outline: none;
}

@keyframes spin-fade-out {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    visibility: visible;
  }

  99% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: visible;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
    visibility: hidden;
  }
}
