@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

html {
  height: 100%;
}

body {
  width: 100%;
  height: 95%;
  font-family: Comfortaa;
  overflow-x: hidden;
}

#tip {
  text-align: center;
  font-size: 4vmin;
}

#searchContainer {
  position: relative;
  top: 30%;
  left: -1%;
  margin-bottom: 2%;
  transition: opacity 1s;
}

#searchBar {
  display: none;
  width: 30vmax;
  position: relative;
  top: 1vh;
  margin: auto;
  margin-bottom: 2%;
  transition: opacity 300ms;
  opacity: 0;
}

#searchIcon {
  display: block;
  position: relative;
  left: -.5%;
  margin: auto;
  text-align: center;
  font-size: 15vmin;
  color: tan;
  transition: opacity 300ms;
  cursor: pointer;
}

#searchButtons {
  display: none;
  position: relative;
  top: 28vh;
  left: -1.5%;
  text-align: center;
  transition: opacity 1s;
  opacity: 0;
  margin-bottom: 2%;
}

#searchEnter, #searchExit {
  margin: 1vmax;
  font-size: 10vmin;
  color: tan;
  cursor: pointer;
}

#randomIcon {
  display: block;
  text-align: center;
  position: relative;
  top: 28vh;
  left: -1.75%;
  font-size: 10vmin;
  color: tan;
  cursor: pointer;
  transition: opacity 800ms;
}

#resultsContainer {
  width: 100%;
  position: absolute;
  top: 3vh;
  left: 1%;
  transition: opacity 1s;
}

.resultsElements {
  width: 60%;
  text-align: center;
  margin: auto;
  position: relative;
  left: -2%;
  transition: opacity 700ms;
  opacity: 0;
  border: 1px solid black;
  border-radius: 1vmax;
  padding: 4%;
  margin-bottom: 1%;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#resultsExit {
  display: none;
  width: 100%;
  position: relative;
  left: -2%;
  text-align: center;
  transition: opacity 300ms;
  opacity: 0;
  cursor: pointer;
  color: tan;
  font-size: 7vmin;
  margin-bottom: 5%;
}

#error {
  visibility: hidden;
  text-align: center;
  transition: opacity 1s;
  opacity: 0;
}